.homePage{
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    // border-left: 1px solid #e7e7e7;
    min-height: 568px;
    background-color: white;
    top: 32px;
}

div{
    display: block;
}

*{
    box-sizing: border-box;
}

.briefIntro{
    margin: 50px 50px 50px 30px;
}