@media (min-width: 768px) {
.sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
}
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid #e7e7e7;      /////////////////the left border!!!!!!!!!1
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-collapse {
    // width: auto;
    // border-top: 0;
    // -webkit-box-shadow: none;
    // box-shadow: none;
}

.navbar-collapse {
    // padding-right: 15px;
    // padding-left: 15px;
    // overflow-x: visible;
    // -webkit-overflow-scrolling: touch;
    // border-top: 1px solid transparent;
    // -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    // box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

ul{
    margin-top: 0;
    // margin-bottom: 10px;
    display: block;
    // list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


// /////////////<li>&<a>styles
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.nav>li {
    position: relative;
    display: block;
}
li {
    display: list-item;
    // text-align: -webkit-match-parent;
}

.sidebar ul li a.active {
    background-color: #eeeeee;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    color: #337ab7;
    text-decoration: none;
    font-size: 1.3vw;
}

/////fill the navbar for the whole page/////////
.lastEmptyList{
    height: 1000px;
}