.welcomePage{
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 50px;
    // border-left: 1px solid #e7e7e7;
    min-height: 568px;
    background-color: white;
    // top: -3px;
}

div{
    display: block;
}

*{
    box-sizing: border-box;
}

.welcomeMsg{
    font-size: 5em;
    position: relative;
    margin: 50px 50px 50px 50px;
    // border-top: 20px;

}